@import "partials/_base";
@import "compass/typography/text/ellipsis";

.unstyled-link, .unstyled-link:hover{
	@include unstyled-link();
	text-decoration:none;
}

.unstyled-button{
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	color: inherit;
	-webkit-appearance: none;
	&:hover{
		text-decoration: underline;
	}
}

/*
|--------------------
| Bootstrap overrides
|--------------------
*/

// The nav bar has a large bottom margin
// remove top margins from page headers and thier h1s
.navbar + .container > .page-header:first-child{
	margin-top: 0;

	& h1{
		margin-top: 0;
	}
}

.table td .btn{
	padding: 1px;
}

.table-valign-middle tbody > tr > td{
	vertical-align: middle;
}

th.text-muted{
	font-weight: 300;
}

.row-action{
	text-align: center;

	&:not(:first-of-type){
		border-left: 0;
		border-right: 0;
	}
}


.glyphicon:empty{
	width: 1em;
}

.form-group .help-block{
	margin-bottom: 0;
}
